* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
}



.navBar {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15%;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu {
    width: 30%;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgba(128, 128, 128, 0.137);
    border-radius: 30px;
}

.menu h3 {
    font-weight: 500;
    font-size: 17px;
}

.nav-btn {
    display: flex;
    gap: 20px;
}

.nav-btn button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #3c3e30;
    color: white;
    font-size: 18px;
    border-radius: 30px;
}

.nav-btn #log {
    background-color: transparent;
    color: black;
}

.banner {
    width: 100%;
    height: 90%;
    background-image: url(./6b61b874-a7c8-40d6-9921-53708be53b5e.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.inner-text {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.inner-text h2 {
    font-size: 80px;
    width: 70%;
    font-weight: 500;
    color: #050202;
}

.inner-text p {
    font-size: 15px;
    width: 40%;
}

.ctc {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: #3c3e30;
    color: white;
    font-size: 17px;
    border: none;
}

.patnners {
    width: 100%;
    height: 30%;
}

.inner-partners {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.inner-partners img {
    width: 180px;
    height: 50px;
    object-fit: cover;

}

.brandImg {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.inner-brand {
    width: 95%;
    height: 100%;
    background-image: url(./04d58666-8912-4f6c-968f-3b13427ec811.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding: 0px 180px;
}

.inner-brand h2 {
    color: white;
    font-size: 100px;
    width: 70%;
    font-weight: 600;
}

.ctc1 {
    width: 200px;
    height: 50px;
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    font-size: 17px;
}

.feedbak {
    width: 100%;
    height: 50%;

}

.inner-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.feedbak-card {
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 30px;
}

.imgName {
    width: 100%;
    height: 30%;
    display: flex;
    gap: 30px;
    align-items: center;
}

.imgName h3 {
    font-size: 18px;
    font-weight: 600;
}

.imgName img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    border: 2px solid rgba(128, 128, 128, 0.427);
}

.feedbak-card p {
    font-size: 14px;
    color: gray;
    padding: 0px 5px;
}

.Cenitise {
    width: 100%;
    height: auto;
    background: #ede4d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;


}

.inner-centise {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1300px;


}

.upper-side {
    width: 82%;
    display: flex;
    align-items: start;
    justify-content: start;

}

.upper-side h2 {
    font-size: 30px;
    font-weight: 600;
}

.all-member {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.member {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.member img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
}

.member h4 {
    font-size: 19px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;
}

.member p {
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    margin-top: 5px;
}

.profile {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
}

.member-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.profile-img img {
    width: 280px;
    border-radius: 15px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.profile-content p {
    color: #555;
    line-height: 1.6;
}



button {
    width: fit-content;
    padding: 10px 25px;
    border: none;
    background: #000;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.footer {
    background: #141414;
    color: #ccc;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}

.footer h4 {
    color: white;
    margin-bottom: 10px;
}

.footer p {
    margin: 6px 0;
    font-size: 14px;
}

.social span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #222;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.social span:hover {
    background: white;
    color: black;
}

hr {
    margin: 30px 0;
    border: 0.5px solid #333;
}

.copyright {
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #777;
    border-top: 1px solid rgba(128, 128, 128, 0.204);
    padding: 20px;
}